.rafititle {
    position: relative;
    right: 600px;
    font-size: 100px;
}

.dadimg {
    height: 676px;
}

.dadimg2 {
    height: 678px;

}

.rafidesc {
    position: relative;
    font-size: 54px;
}

.momimg {
    height: 678px;

}

.momimg2 {
    height: 678px;

}

.momtitle {
    position: relative;
    right: 600px;
    font-size: 100px;
}

.momdesc {
    position: relative;
    font-size: 54px;
}

.momimg3 {
    position: relative;
    height: 678px;
    right: 1225px;
    bottom: 678px;
}

.sisimg {
    height: 678px;
}

.danielimg {
    height: 678px;

}

.danielimg2 {
    height: 678px;

}

.danielimg3 {
    height: 678px;

}

.me {
    height: 678px;
}

.me2 {
    height: 678px;
}

.me3 {
    height: 678px;
}

.me4 {
    height: 678px;
}

.me5 {
    height: 678px;
}

.me6 {
    height: 678px;
}

.me7 {
    height: 678px;
}

.me8 {
    height: 678px;
}

.me9 {
    height: 678px;
}

.me10 {
    height: 678px;
}

.me11 {
    height: 678px;
}

.me12 {
    height: 678px;
}

.me13 {
    height: 678px;
}

.me14 {
    height: 678px;
}

.me15 {
    height: 678px;
}

.me16 {
    height: 678px;
}

.family {
    height: 678px;
}

.family {
    height: 678px;
}

.family2 {
    height: 678px;
}

.family3 {
    height: 678px;
}

.family4 {
    height: 678px;
}

.family5 {
    height: 678px;
}

.family6 {
    height: 678px;
}

.family7 {
    height: 678px;
}

.family8 {
    height: 678px;
}

.family9 {
    height: 678px;
}

.family10 {
    height: 678px;
}

.family11 {
    height: 678px;
}

.family12 {
    height: 678px;
}

.family13 {
    height: 678px;
}

.family14 {
    height: 678px;
}

.family15 {
    height: 678px;
}

.family16 {
    height: 678px;
}

.family17 {
    height: 678px;
}

.family18 {
    height: 678px;
}

.family19 {
    height: 678px;
}

.family20 {
    height: 678px;
}

.family21 {
    height: 678px;
}